@page
@using Deals
@model Deals.Pages.Index
@inject DealService dealService

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
</head>
<body>

@foreach(var deal in await dealService.GetDealsFromShop("netto", 10))
{
    <div>
        <h3>@deal.Name</h3>
        <p>@deal.Price kr</p>
        <p> @(Math.Abs(deal.UnitsFrom - deal.UnitsTo) < 0.1 ? $"{deal.UnitsFrom}" : $"{deal.UnitsFrom} - {deal.UnitsTo}") @deal.UnitType</p>
        <img src="@deal.SmallImage"/>
    </div>
}

</body>
</html>